* {
	margin:0;
	padding:0;
	border:0;
}

html, body{
    height: 100%;
    background-color: #203A4C;
}



.parent {
    display: flex;
    flex-direction: row;
    height: 93%;
}

.child{
    width: 65%;
    background-color: #203A4C;
}

.child:nth-child(1){
    float: left;
    width: 35%;
    flex: 1;
    background-image: url(img/SicherInAlbstadt-Logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.heading{
    background-color: rgba(34, 87, 122,0.8);
    position: absolute;
    text-align: center;
    width: 35%;
    padding-top: 15%;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 450%;
    padding: 2% 0 70% 0;
}


.lock{
    background-image: url(img/lock_open.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

.logreg{
    padding: 0.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 9%;

    font-size: medium;
    cursor: pointer;
    color: white;
    border: solid #80ED99 2px;
    background-color: transparent;
    border-radius: 10px;
    /* for ze position*/
    margin: 0;
    position: absolute;
    top: 30%;
    left: 63%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.logreg:hover{
    border: 2px solid transparent;
    background-color: #80ED99;
    transition: 1s;
}


.logForm{
    transform: scale(0);
    position: absolute;
    top: 20%;
    left: 58%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0 7% 0 4%;
    background-color: rgba(115, 217, 148, 0.93);
    border-radius: 10px;
}

.logForm h3{
    text-align: center;
    padding: 10% 0 20% 30%;
    font-size: 2em;
}

.logForm button{
    margin: 80% 0 25% 0;
    margin-left: 40%;
    padding: 5% 20% 5% 20%;
    border-radius: 5px;
    background-color: #38A3A5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.logForm button:hover{
    opacity: 0.7;
    background-color: #22577A;
    transition: 1s;
}


.logForm input{
    margin: 30% 0 5% 0;
}

.logForm input:focus{
    outline: none !important;
    scale: 1.5;
    transition: 1s;
}

input[type=text], input[type=password] {
    border-bottom: 2px solid #22577A;
    background-color: transparent;
    color: white;
    width: 130%;
    height: 2rem;
}


#reg{
    top: 37%;
    border: solid #57CC99 2px;
}

#reg:hover{
    border: 2px solid transparent;
    background-color: #57CC99;
    transition: 1s;
}


footer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #22577A;
    position: absolute;
    text-align: center;
    padding-top: 1%;
    bottom: 0;
    width: 100%;
    height: 5%;
}